body{
  background-color: #666;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section-1{
  height: 100vh;
  background-image: url('../imgs/frontBG.png');
  background-size: 100% 100%;
}

.section-2{
  height: 100vh;
  background-image: url('../imgs/p5BG.png');
  background-size: 100% 100%;
}

.topicHeader{
  font-size: 3rem;
  color: white;
}

.bg-sec1-left{
  background-color: whitesmoke;
  border-radius: 10px;
}

.bg-sec1-right{
  background-color: whitesmoke;
  border-radius: 10px;
}

.large-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.demo .large-header {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
  background-size: 100% 100%;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
     font-size: 3em;
  }
}